.nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    box-shadow: #7e7e7e 0 0 3px;
}

.linkgroup {
    padding: 2em;
}

.anchor {
    margin: 0 1em;
}

.account {
    padding-right: 2em;
}